<section>
  <ul class="pagination">
    {% for page in pages %}
      {% if page.current %}
        <li class="active"><a href="#">{{page.number}}</a></li>
      {% else %}
        <li><a href="{{url('page',{page:page.number})}}">{{page.number}}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</section>