#container{
    height:500px;
    font-family:Helvetica;
    -webkit-perspective:800px;
}
#cube{
    position:relative;
    -webkit-transform-style:preserve-3d;
    -webkit-animation:animation-cube 3s ease 0s infinite;
}
#inner{
    width:200px;
    height:200px;
    -webkit-transform-style:preserve-3d;
}
@-webkit-keyframes animation-cube{
    0%   {-webkit-transform:translate(20%,100px);}
    50%  {-webkit-transform:translate(80%,100px);}
    100% {-webkit-transform:translate(20%,100px);}
}
.face{
    position:absolute;
    top:0;
    left:0;
    width:200px;
    height:200px;
    text-align:center;
    line-height:200px;
    color:#fff;
    opacity:0.5;
    -webkit-transform-style:preserve-3d;
} 
.top    {-webkit-transform:rotateX(90deg) translateZ(100px);background:red;   }
.bottom {-webkit-transform:rotateX(90deg) translateZ(-100px);background:orange;}
.front  {-webkit-transform:translateZ(100px);background:blue;  }
.back   {-webkit-transform:translateZ(-100px);background:yellow;}
.left   {-webkit-transform:rotateY(90deg) translateZ(100px);background:green; }
.right  {-webkit-transform:rotateY(90deg) translateZ(-100px);background:gray;  }