{{include('inc/header.twig')}}
	<iframe src="https://giphy.com/embed/78D1Ms4p5U9yM" width="1000" height="442" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	<h5>
		Joanna Denis et Youna Doh vous remercient pour cette année et espèrent que la prochaine promo appréciera vos cours autant que la nôtre.
	</h5>
{{include('inc/footer.twig')}}