	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="{{app.request.baseUrl}}/src/js/yellow-text.min.js"></script>
	<script src="{{app.request.baseUrl}}/src/js/codemirror.js"></script>
	<script src="{{app.request.baseUrl}}/src/js/script.js"></script>
</body>
</html>
