<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Fira+Sans:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{app.request.basepath}}/src/css/style.css">
</head>
<body>
	<div class="bg"></div>
	{% include 'inc/message.twig' %}
	
