{% if app.session.FlashBag is defined %}
	{% for message in app.session.getFlashBag.get('message') %}
		<section class="{% if message.type == 'Error' %}error{% else %}success{% endif %}">
			<strong>{{message.type}} :</strong> {{message.value}}  
		</section>
	{% endfor %}
{% endif %}