{% include 'inc/header.twig' %}

    {% if message is defined %}
        <div class="message">
            {{message}}
        </div>
    {% endif %}
    <form action="{{url('add_snippet')}}" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" value="Submit" />
    </form>

{% include 'inc/footer.twig' %}