{{include('inc/header.twig')}}

<div>
	<h3>Welcome on Hetic Snippets</h3>

	<p>Hetic Snippets is a student project. It has been realized by Clara Rua and Meghan Regior as part of a web-development work at HETIC, an IT school. For this work, We had to realize a website with the PHP micro framework Silex in order to learn and train ourselves. Enjoy !</p>

</div>

{{include('inc/footer.twig')}}
