
	<!-- <footer class="footer">
		<div class="footer-content">Développé et designé pas Alexandre MONJOL et Jean-Yves KOKOU Projet snippets Silex @2014</div>
	</footer> -->



	<!-- Scripts -->
	<script type="text/javascript" src="{{app.request.basePATH}}/views/src/js/jquery.min.js"></script>
	<script type="text/javascript" src="{{app.request.basePATH}}/views/src/js/script.js"></script>

</body>
</html>