*{
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	text-decoration: underline;
	color:#000000;
}

h1 a{
	display: block;
	width:800px;
	margin: auto;
}

h1 img{
	width:800px;
}

nav.nav_up{
	text-align: center;
}

div#content{
	width:960px;
	margin:auto;
}

body{
	background:url('../img/fond.png');
	background-repeat: repeat-y;
	background-position: 50% 0%;
}

div.footer{
	text-align: center;
}

div.hello{
	margin:20px;
}

h3{
	margin-top:20px;
}

.circuit{
	text-align: center;
}

.next{
	margin:20px;
	text-align: center;
}