{{include('inc/header.twig')}}

<h2>About</h2>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita delectus, porro illo et error maiores adipisci iure incidunt quidem. Saepe consequuntur sit pariatur incidunt tenetur voluptatum, a adipisci molestias dolor.

{{include('inc/footer.twig')}}
