.exemple {width:200px;height:200px;margin-bottom:20px;background:orange;}
.border-radius {border-radius:40px 10px 100px 30px;}
.rgba {background:rgba(255,0,0,0.5);}
.hsla {background:hsla(120,50%,50%,0.5);}
.linear-gradient {background:linear-gradient(0deg,#f400ab 0%,#f17432 50%,#fb955e 100%);}
.radial-gradient {background:radial-gradient(circle at top left,#f400ab 0%,#f17432 51%,#fb955e 100%);}
.opacity {opacity:0.4;}
.box-sizing {padding:20px;border:red 10px solid;box-sizing:border-box;}
.text-shadow {background:none;font-size:40px;text-shadow:2px 2px 10px red;}
.box-shadow {box-shadow:inset 0 0 30px black;}
.multi-backgrounds {background:url('images/sheep.png') bottom center repeat-x,
                               url('images/grass.png') bottom left repeat-x;width:400px;}