{{include('inc/header.twig')}}

<div class="row">
	<h5 style="text-align:center;">My bookmark manager est un projet réalisé par Lousi Chenais et Aurélien Magnan dans le cadre d'HETIC.</h5>
	<h6 style="text-align:center;">Rentrez un shortcut et sélectionnez sa catégorie puis retrouvez le rapidement dans la catégorie correspondante.</h6>
</div>

{{include('inc/footer.twig')}}