{{include('inc/header.twig',{title:'contact'})}}

<div class="row">
	<div class="large-8">
		<form action="#" method="POST">
			{{form_widget(form)}}
			<input type="submit" value="send">
		</form>
	</div>
</div>


{{include('inc/footer.twig')}}