{{include('inc/header.twig',{title:'suggest'})}}

<div class="row">
	<div class="large-8">
		<form action="#" method="POST">
			{{form_widget(form)}}
		</form>
	</div>
</div>


{{include('inc/footer.twig')}}