{{include('include/header.twig',{title:'suggest'})}}

<form action="#" method="post">

	<h3> Participez !</h3>
    {{ form_widget(form) }}
    <input type="submit" name="submit" />
    <!-- .gif$ -->
</form>

{{include('include/footer.twig')}}