{{include('inc/header.twig')}}

</br>
<div class="container">
<h1>Contactez-moi par e-mail</h1>
</br>
<form action="#" method="POST">
	{{form_widget(form)}}
	<input type="submit" value="send">
</form>
</div>

{{include('inc/footer.twig')}}

