{{include('inc/header.twig')}}
{{include('inc/menu.twig')}}

<div class="row">
  <div class="page col-md-12">
    <h4>About</h4>
    <blockquote>
      <p>{{page.content|nl2br}}</p>
    </blockquote>
  </div>
</div>

{{include('inc/footer.twig')}}