{{include('inc/header.twig')}}
<div>
	<p>Bonjour...<br />Ce site internet a été fait dans le cadre du cours de Développement Web.</p>
</div>
{{include('inc/snippets.twig')}}
{{include('inc/footer.twig')}}