############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Linux
############################

*~


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages
############################

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.so
*.swo
*.swp
*.swn
*.swm


############################
# Logs and databases
############################

*.log
*.sql
*.sqlite


############################
# Misc.
############################

*#
ssl
.idea
.tmp
.jshintrc
.editorconfig
nbproject


############################
# Node.js
############################

lib-cov
lcov.info
.grunt
*.seed
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
build
node_modules
.node_history


############################
# Tests
############################

testApp
coverage

############################
# Config
############################
web/.htacess