<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{app.request.basePATH}}/views/inc/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{app.request.basePATH}}/views/inc/css/css.css">
</head>
<body>
{{include('inc/navbar.twig')}}
