{{include('inc/header.twig')}}

<div class="container">	
	<h1>About us</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, nemo atque autem ipsum. Quisquam, architecto, aut tempora praesentium aliquid aspernatur officiis itaque veniam hic autem consequuntur nostrum maxime dignissimos rerum.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, nemo atque autem ipsum. Quisquam, architecto, aut tempora praesentium aliquid aspernatur officiis itaque veniam hic autem consequuntur nostrum maxime dignissimos rerum.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, nemo atque autem ipsum. Quisquam, architecto, aut tempora praesentium aliquid aspernatur officiis itaque veniam hic autem consequuntur nostrum maxime dignissimos rerum.</p>
</div>

{{include('inc/footer.twig')}}