<script src="{{app.request.basePath}}/src/js/highlight.pack.js"></script>  <!-- Highlight.js -->
<script>hljs.initHighlightingOnLoad();</script>  <!-- Highlight.js -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{app.request.basePath}}/src/js/bootstrap.min.js"></script>
</body>
</html>