{% extends layout %}

{% block content %}
	<h2>À propos de FWS</h2>
	<hr>
	<div class="col-md-4 col-md-offset-4">
		Full Web Snippets est un projet réalisé dans le cadre du cours de développement à HETIC. Nous devions créer à partir du micro-framework Silex un site sur lequel seraient répertoriés par catégorie des snippets HTML, CSS, PHP, … <br>
		Vous pouvez donc trouver les snippets qu’ils vous faut dans le langage que vous souhaitez, sinon vous pouvez proposer un nouveau snippet.<br>
		Vous pouvez nous contacter ou nous soumettre vos idées à la page contact.
	</div>
{% endblock %}