    </section>
    <!-- End of section.container which contain everything except the sidebar -->
    <script src=" {{ app.request.basePath }}/src/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</body>
</html>