{% include 'inc/header.twig' %}
<div class="panel panel-default">
  <div class="panel-body">
		<div class="text-center">
			<p>This website is a place where you can share all your snippets to the community.</p><p>Feel free to contact us thanks to the contact page !</p>
		</div>
  </div>
</div>

{% include 'inc/footer.twig' %}