<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{app.request.basepath}}/src/css/style.css">
    <h1><a href="{{url('home')}}">HETIC SNIPPETS</a></h1>
</head>
<body>
