<section>
    {% for snippet in snippets %}
        <div>
            <h3>{{snippet.title}}</h3>
            <div><a href="{{url('category',{category:snippet.category_slug})}}">{{snippet.category_title}}</a></div>
            <div>{{snippet.content}}</div>
        </div>
    {% endfor %}
</section>
