				<br />
				<blockquote>
		  			<p>“Cats are magical... the more you pet them the longer you both live.”</p>
		  			<footer>Someone on Internet</footer>
				</blockquote>
			</div> <!-- FIN HEADER_CONTAINER -->
	</div> <!-- FIN CONTAINER -->
</body>
</html>