	<script src="{{app.request.basepath}}/src/js/vendor/jquery.js"></script>
	<script src="{{app.request.basepath}}/src/js/foundation.min.js"></script>
	<script>
	  $(document).foundation();
	</script>

</body>
</html>