{{include('inc/header.twig')}}

<form action="#" method="post">
    {{ form_widget(form) }}
    <p>
    	! ----> Pour category, veuillez y insérez un chiffre tel que : <br />1=Javascript <br /> 2=PHP <br /> 4=HTML <br /> 5=CSS<br />
    </p>
    <input type="submit" name="submit" value="Send"/>
</form>

{{include('inc/footer.twig')}}



