{{include('inc/header.twig')}}

<div class="about col-md-16">

	<h1>About</h1>
	<div class="col-md-6">
	<img src="http://a406.idata.over-blog.com/4/91/36/45/ALLEMAGNE/ALLEMAGNE-2/Allemagne-Hitlerjungend-Early-30-.jpg">
	<h2>Alban Nogaret</h2>
	<p>Alban Nogaret est le dirigeant actuel de la région du Bouchonois. Amie des chasseurs et des designers, il sais où se trouve le bon goût. Il aime rêvasser dans Paris au dédale des rues si pittoresques de Barbès et St Ouen. Ces rêvasseries l'on ammené à inventer en 2005 le vélo jetable, qu'il appela Velib. Il parle couramment l'anglais et le Kirhize bien qu'il est trop humble pour avouer pratiquer la langue de Toktogul Satilganov.</p></div>
	
	<div class="col-md-6">
	<img src="http://fitn3ss.hu/wp-content/uploads/2014/03/sovany.jpg">
	<h2>Alexandre Corsini</h2>
	<p>Fan de mobilettes 50cm3 et de jolies filles, Alexandre aime les choses qui claquent. Que ce soit au niveau de la musique ou des vêtements, il préfère toujours la classe et le bon goût aux choses trop grasses, trop vulgaires ou trop trop. Il préfère l'humour fin, l'élégance et la légèreté. Il ne faut pas hésiter à lui demander conseil en ce qui concerne le développement web et la gymastique artistique car Alexandre excel dans ces deux domaines.</p></div>

	<p>Ce site est responsive et utilise Bootstrap. Ce qui nous a donné le plus de difficulté dans ce devoir c'est ... Bootstrap...</p>
</div>

{{include('inc/footer.twig')}}