{{include('inc/header.twig')}}
	
<h1>Contactez-nous, parce qu'on aime le contact...</h1>
<form action="#" method="post">
    {{form_widget(form) }}

    <input type="submit" name="submit" />
</form>

{{include('inc/footer.twig')}}