{% for snippet in snippets %}
	<div>
		<h3>{{snippet.title}}</h3>
		<a href="{{url('category',{category:snippet.category_slug})}}">{{snippet.category_title}}</a>
		<div> <img src="{{snippet.content}}" />
		</div>

	</div>
{% endfor %}