.transform{
    width:200px;
    height:200px;
    margin:50px auto 50px auto;
    background:orange;
}
.scale{
    -webkit-transform:scale(2,0.6);
}
.rotate{
    -webkit-transform:rotate(30deg);
    -webkit-animation:animation-rotate 3s ease 0s infinite;
}
.translate{
    -webkit-transform:translate(100px,20px);
    -webkit-animation:animation-translate 3s ease 0s infinite;
}
.skew{
    -webkit-transform:skewX(20deg);
}
.multi{
    -webkit-transform:rotate(-10deg) scale(1.6,0.6) skewX(20deg);
}
@-webkit-keyframes animation-rotate{
    0%   {-webkit-transform:rotate(-30deg);}
    50%  {-webkit-transform:rotate(30deg);}
    100% {-webkit-transform:rotate(-30deg);}
}
@-webkit-keyframes animation-translate{
    0%   {-webkit-transform:translate(0,0);}
    50%  {-webkit-transform:translate(100px,20px);}
    100% {-webkit-transform:translate(0,0);}
}