{{include('inc/header.twig')}}
<h2 style="text-align:center">Avec Lexcakes, découvrez les meilleurs recettes sucrées et partagez les votres</h2>

<div class="about text-center">
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="https://twitter.com/RuizAnnabelle" target="_blank"><img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" src="../web/src/img/annabelle_photo.jpg" style="width: 200px; height: 200px;">
      <div class="caption"></a>
        <h3>Annabelle Ruiz</h3>
        <p>Étudiante en deuxième année dans la grande école de l'internet, HETIC. Très intéressée par le monde du web, Annabelle aime les challenges sur des projets dont elle ne maîtrise pas tout les aspects. </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="https://twitter.com/Mistruck" target="_blank"><img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" src="../web/src/img/oscar_photo.jpg" style="width: 200px; height: 200px;"></a>
      <div class="caption">
        <h3>Oscar Deloizy</h3>
        <p>Aussi étudiant en deuxième année dans la grande école de l'internet, HETIC, Oscar est passionné de développement web et de nouvelles technologies. Il a donc pris un grand plaisir à faire ce projet avec Silex !</p>
      </div>
    </div>
  </div>
</div>



{{include('inc/footer.twig')}}