{{include('include/header.twig',{title:'A propos'})}}

<div class="hello">
	Ce site a été réalisé dans le cadre d'un projet de développement web par Julien DACHAUD et Victor CHARTIER.
</div>

{{include('include/footer.twig')}}