{{include('include/header.twig',{title:'Contact'})}}


{% if (sent == 1) %}
    <div>C'est envoyé !</div>
{% else %}
    <form action="#" method="POST">
		{{form_widget(form)}}
		<input type="submit" value="Send"/>
	</form>
{% endif %}

{{include('include/footer.twig')}}