{{include('include/header.twig',{title:'Mario Kart - Tous les circuits'})}}

<div class="hello">
	Bienvenue sur ce mini-site qui répertorie les différents circuit de Mario Kart classés par console ! Bien sûr, le site n'est pas complet, à vous de rajouter les circuits à votre guise !
</div>

{{include('include/footer.twig')}}
