<br>
<br>
{% for page in pages %}
    {% if page.current %}
        Page {{page.number}}
    {% else %}
        <a href="{{url('page',{page:page.number})}}">Page {{page.number}}</a>
    {% endif %}
{% endfor %}