<div class="container">
	<table class="table table-hover">
		{% for suggest in suggest %}
	
			<tr>
			<th>{{suggest.name}}</th>
			<td>{{suggest.email}}</td>
			<td>{{suggest.message}}</td>
			</tr>
	
	{% endfor %}
</table>	
</div>