body
{
	font-family:	"Baumans", Abadi MT Condensed Light; 
	background:		#ECECEC; 
	color:			#444;
	display: 		block;	

}

.titre
{
	text-align: 	center;
}

.questions
{
	display: 		block;
	text-align: 	center;
	margin-top: 	200px;
}

.questions1
{
	display: 		block;
	text-align: 	center;
	margin-top: 	0px;
}

.submit
{
	display: 		block;
	margin-left: 	auto;
	margin-right: 	auto;
	margin-top: 	20px;
}

.ennonce
{
	text-align: 	center; 
	font-size: 		30px;
	margin-top: 	30px;
}

.resultsondage
{
	text-align: 	center;

}