{{include('inc/header.twig')}}	
<div id="about_content">
	<h2>L'équipe</h2>
	<div class="solene">
		<div class="img_container">
			<img src="../src/images/solene.jpg" alt="solene" class="img-circle" width="200" height="200">
		</div>
		<h3>Solène Berthet</h3>
		<p> 22 ans</p>
	</div>
	<div="elena">
		<div class="img_container_about">
		<img src="../src/images/elena.jpg" alt="elena" class="img-circle" width="200" height="200">
		</div>
		<h3>Eléna Domercq</h3>
		<p> 20 ans</p>
	</div>
	

	<div class="text"><h2> Certaines personnes mangent pour vivre. Nous nous vivons pour manger :D</h2>
	<p>
	Nous souhaitions partager notre passion pour la nouriture, c'est plus rigolo que des snippets de développement ... Et plus compréhenssible pour nos petits cerveaux. 
	</p>
	</div>
</div>

{{include('inc/footer.twig')}}
