{{include('inc/header.twig')}}

<div class="container-contact"><form class="content_contact" action="#" method="POST">
  {{form_widget(form)}}
  <input type="submit" name="submit" value="Send"/>	
</form>
</div>

{{include('inc/footer.twig')}}