body{font-family:'Open Sans Condensed',sans-serif;letter-spacing:1px;font-size:14px;line-height:18px;}

/* ASIDE */
aside {position:fixed;top:0;left:0;bottom:0;width:200px;background:#333;color:#fff;text-transform:uppercase;z-index:1;}
aside header {height:100px;line-height:100px;text-align:center;background:rgb(10,127,163);font-size:22px;}
aside header h1 {text-shadow:0 0 10px #fff;}
aside p {padding:0px 20px 20px 20px;}
aside form {margin-bottom:20px;}
aside form fieldset {position:relative;background:#222;}

aside form input[type=text]       {display:block;background:none;width:200px;height:60px;border:none;line-height:60px;color:#fff;text-transform:uppercase;padding:20px 60px 20px 20px;outline:none;font-size:22px;font-family:'Open Sans Condensed',sans-serif;}
aside form input[type=text]       {-webkit-transition:width 0.4s;-moz-transition:width 0.4s;-o-transition:width 0.4s;transition:width 0.4s;}
aside form input[type=text]:focus {width:300px;}

aside form fieldset .erase       {position:absolute;top:18px;right:18px;width:24px;height:24px;cursor:pointer;}
aside form fieldset .erase .bar1 {display:block;position:absolute;top:0px;left:12px;width:5px;height:100%;background:#fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
aside form fieldset .erase .bar2 {display:block;position:absolute;top:0px;left:12px;width:5px;height:100%;background:#fff;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}

/* CONTENT & CUBE */
.content {position:absolute;top:0;right:0;bottom:0;left:200px;background:#EEE;overflow:hidden;}
.content {-webkit-perspective:800px;-moz-perspective:800px;perspective:800px;}
.content .flar {position:absolute;top:0;right:0;bottom:0;left:0;background:red;}

.cube           {position:absolute;top:50%;left:50%;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d;}
.cube .inner-x  {position:relative;left:-200px;top:-200px;width:400px;height:400px;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-animation:rotate-x 22s 0s infinite linear;-moz-animation:rotate-x 22s 0s infinite linear;animation:rotate-x 22s 0s infinite linear;}
.cube .inner-y  {width:400px;height:400px;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-animation:rotate-y 14s 0s infinite linear;animation:rotate-y 14s 0s infinite linear;animation:rotate-y 14s 0s infinite linear;}
.cube .face     {position:absolute;top:0;left:0;width:400px;height:400px;text-align:center;overflow:hidden;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d;} 
.cube .face img {width:100%;}
.cube .top      {-webkit-transform:rotateX(90deg) translateZ(200px); -moz-transform:rotateX(90deg) translateZ(200px); transform:rotateX(90deg) translateZ(200px); }
.cube .bottom   {-webkit-transform:rotateX(90deg) translateZ(-200px);-moz-transform:rotateX(90deg) translateZ(-200px);transform:rotateX(90deg) translateZ(-200px);}
.cube .front    {-webkit-transform:rotateX(0deg)  translateZ(200px); -moz-transform:rotateX(0deg)  translateZ(200px); transform:rotateX(0deg)  translateZ(200px); }
.cube .back     {-webkit-transform:rotateX(0deg)  translateZ(-200px);-moz-transform:rotateX(0deg)  translateZ(-200px);transform:rotateX(0deg)  translateZ(-200px);}
.cube .left     {-webkit-transform:rotateY(90deg) translateZ(200px); -moz-transform:rotateY(90deg) translateZ(200px); transform:rotateY(90deg) translateZ(200px); }
.cube .right    {-webkit-transform:rotateY(90deg) translateZ(-200px);-moz-transform:rotateY(90deg) translateZ(-200px);transform:rotateY(90deg) translateZ(-200px);}

@-webkit-keyframes rotate-x
{
    0%   {-webkit-transform:rotateX(0deg);}
    100% {-webkit-transform:rotateX(360deg);}
}
@-webkit-keyframes rotate-y
{
    0%   {-webkit-transform:rotateY(0deg);}
    100% {-webkit-transform:rotateY(360deg);}
}
@-moz-keyframes rotate-x
{
    0%   {-moz-transform:rotateX(0deg);}
    100% {-moz-transform:rotateX(360deg);}
}
@-moz-keyframes rotate-y
{
    0%   {-moz-transform:rotateY(0deg);}
    100% {-moz-transform:rotateY(360deg);}
}
@keyframes rotate-x
{
    0%   {transform:rotateX(0deg);}
    100% {transform:rotateX(360deg);}
}
@keyframes rotate-y
{
    0%   {transform:rotateY(0deg);}
    100% {transform:rotateY(360deg);}
}

.content {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.content .flar {
    background: -moz-linear-gradient(45deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.8) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ccffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
