{% extends 'incs/layout.twig' %}

{% block top %}
	<div class="container">
		<h1>A propos</h1>
		<p> Crée part Arthur Bouhanna et Alexandre Serrano avec l'aide d'héticiens</p>
	</div>
{% endblock %}

{% block container %}
	<p>Ce site réalisé part Arthur Bouhanna et Alexandre Serrano, étudiants en deuxième année à HETIC et un projet en cours de développement web où nous devions utiliser php, twig ainsi que bootstrap afin de créer un site d'édition de snippet.
		Il permet donc de pouvoir se log, d'éditer des snippets dans 4 languages différents, de les publier mais aussi de voir les snippets que les autres utilisateurs éditent</p>
{% endblock %}