<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="src/style.css">
	<title> Honte </title>
</head>
<body>
	<header>
		<div class="nav">
			<a href="{{url('home')}}">HETIC SNIPPETS</a>
			<a href="{{url('suggest')}}">Suggestion</a>
			<a href="{{url('email')}}">Email</a>
			<a href="{{url('about')}}">About</a>

		</div>
	</header>
</body>