{% include 'inc/header.twig' %}

	<div class="container fix">
		<form class="form-horizontal" method="post">
			<fieldset>

			<!-- Form Name -->
			<legend>New snippet</legend>

			<!-- Text input-->
			<div class="control-group">
			  <label class="control-label" for="title">Name</label>
			  <div class="controls">
			    <input id="title" name="title" type="text" value="{{snippet.title}}" class="input-xlarge">
			    
			  </div>
			</div>

			<!-- Select Basic -->
			<div class="control-group">
			  <label class="control-label" for="category">Category</label>
			  <div class="controls">
			    <select id="category" name="category" class="input-xlarge">
			      <option value="1"{% if snippet.id_category == 1 %} selected="selected" {% endif %}>PHP</option>
			      <option value="2"{% if snippet.id_category == 2 %} selected="selected" {% endif %}>CSS</option>
			      <option value="3"{% if snippet.id_category == 3 %} selected="selected" {% endif %}>HTML</option>
			      <option value="4"{% if snippet.id_category == 4 %} selected="selected" {% endif %}>JS</option>
			    </select>
			  </div>
			</div>

			<!-- Textarea -->
			<div class="control-group">
			  <label class="control-label" for="content">Content</label>
			  <div class="controls">                     
			    <textarea id="content" name="content">{{snippet.content}}</textarea>
			  </div>
			</div>

			<!-- Button -->
			<div class="control-group">
			  <label class="control-label" for="submit"></label>
			  <div class="controls">
			    <button id="submit" name="submit" class="btn btn-success">Submit</button>
			  </div>
			</div>

			</fieldset>
		</form>

	</div>

{% include 'inc/footer.twig' %}