{{include('inc/header.twig',{title:'Suggestion'})}}

    <div class="container">
      <div class="row row-offcanvas row-offcanvas-left">

        {{include('inc/menu.twig')}}
  	
        <!-- main area -->
        <div class="col-xs-12 col-sm-9">

          <form method="post" action="#">
              <legend>Create your snippet</legend>      
              {{form_widget(form)}}
              <input type="submit" name="submit" value="Send"/>
          </form>

        </div><!-- /.col-xs-12 main -->
      </div><!--/.row-->
    </div><!--/.container-->

{{include('inc/footer.twig')}}