{{include('inc/header.twig')}}

<legend>Page About</legend>
<h1>About us</h1>
<p>Mlle Ribes Marion et Lalanne Cécile ont participé à l’élaboration de ce site réalisé avec Silex. <br> <br>

Remerciement :
Un grand merci à notre professeur Bruno Simon pour ses conseils tout au long de cette année, ce qui nous a permis de progresser grandement pour aborder la H3. <br> 

Bisous bisous  <3 <br> <br> 

Contacts : <br>
cecile.lalanne@ymail.com <br>
marion.m.ribes@gmail.com</p>

{{include('inc/footer.twig')}}
