{{include('inc/header.twig')}}

	<div>
		<h4>{{title}}</h4>
	</div>
	<hr>
	<div class="about-text">
	<h3>What is a Snippet ?</h3>
		
		<p>
			"Snippet" refers narrowly to a portion of source code that is literally included by an editor program into a file, and is a form of copy and paste programming. This concrete inclusion is in contrast to abstraction methods, such as a function, which is abstraction within the language, and processed by the compiler, or macros, which are abstractions using a separate language, and processed by the preprocessor. Snippets are thus primarily used when these alternative abstractions are not available or not desired, such as in languages that lack abstraction, or for clarity and absence of overhead (by contrast with the indirection of macros).
		</p>
		<p>
			Snippets are similar to having static preprocessing included in the editor, and do not require support by a compiler: once a snippet is included into the text, no further processing occurs. On the flip side, this means that snippets cannot be modified after the fact (except via search and replace, assuming the code has not been changed), and thus is vulnerable to all of the problems of copy and paste programming. For this reason snippets are primarily used for simple sections of code (with little logic), or for boilerplate, such as copyright notices, function prototypes, or standard library imports.
		</p>
	<h3>How this website was done?</h3>

		This site was made entirely by Mégane BREGEON and Thomas PAUGAM
		We used two frameworks "Silex" and "Bootstrap" for this exercice. We discovered these frameworks during a class of web development.
	</div>


<p>{{include('inc/footer.twig')}}<p>



