{{include('inc/header.twig')}}

<div class="col-md-12">
	<h3>About</h3>
	<p> Ce site a été réalisé par <strong> Justine Pascal </strong> et <strong> Elise Vanstaevel </strong>dans le cadre d'un projet scolaire. Il permet d'ajouter de nouveaux snippets développés dans différents langages de programmation.</p>
	<br>
	<h5 class="text-primary">Fonctionnement</h5>
	<p>Il suffit de se rendre sur la page "Ajouter un snippets" et d'écrire le code correspondant. Vous le retrouverez par la suit dans la page d'accueil. Il est aussi possible de trouver des snippets par catégories.</p>
</div>

{{include('inc/footer.twig')}}

