{{include('inc/header.twig')}}	
<div id="about_content">
	<h2> Hi, We are two cat lovers from France. </h2>
	<p> Cat lovers since our birth, we love to take care of every cats even if they are idiot. They are like our best friends. Sometimes, we like to draw kittens because they are very cute.  We also love to dress up as cats for costume parties.
	</p>

	<div class="img_container_kitten">
		<img src="../src/img/kitten1.jpg" alt="kitten1" class="img-circle">
		<img src="../src/img/kitten2.jpg" alt="kitten1" class="img-circle">
		<img src="../src/img/kitten3.jpg" alt="kitten1" class="img-circle">
		<img src="../src/img/kitten4.jpg" alt="kitten1" class="img-circle">
	</div>

	<h2> The subject of this website isn't realy serious, it's just for a school project. </h2>
	<p> So forgive us, it's just for laught a little about kittens. Because we realy love them and we needed an interesting subject to illustrate our use of the Silex Framework.
	</p>

	<div class="img_container_kitten">
		<img src="../src/img/kitten5.jpg" alt="kitten1" class="img-circle">
		<img src="../src/img/kitten6.jpg" alt="kitten1" class="img-circle">
		<img src="../src/img/kitten7.jpg" alt="kitten1" class="img-circle">
		<img src="../src/img/kitten8.jpg" alt="kitten1" class="img-circle">
	</div>
</div>

{{include('inc/footer.twig')}}
