{{include('inc/header.twig')}}	
{% for category in categories %}
 <div id="categories_content">
  <a href="{{url('category',{category:category.slug})}}"><h3>{{category.title}}</h3></a>
 </div>
{% endfor %}
{{include('inc/footer.twig')}}
