{{include('inc/header.twig')}}
<div  id="content_contact" class="img-thumbnail">
	<h2 id="contact_form"> Contact us </h2>
	<form action="#" method="POST">
	  {{form_widget(form)}}
	  
	  <input type="submit" name="submit" class="btn_submit" class="btn btn-default" value="Send"/>	
	</form>
</div>

{{include('inc/footer.twig')}}