{{include('inc/header.twig')}}	
{{include('inc/snippets.twig')}}
	<div class="wearesorry">
		<p>This website does not yet have a pagination but you can change the page with the url ! <br />
			You just have to write "/page/2" for example at the end of the url !</p>
	</div>		
{{include('inc/footer.twig')}}
