	</div>
<!-- Intégration de la libraire jQuery -->
<script src="{{app.request.basepath}}/bootstrap/js/jquery-1.4.2.min.js"></script>
<!-- Intégration de la libraire de composants du Bootstrap -->
<script src="{{app.request.basepath}}/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>