body {
	font-family: 'Share Tech Mono', Arial ;
	background: gray;
}

/*------HOME------*/

#conteneur{
	width: 960px;
	height: 500px;
	margin: auto;
	margin-top: 40px;
	padding: 20px;
	background: #FFFFFF;
	font-size: 20px;
	border: solid;
}

h1{
	text-align: center;
	font-size: 32px;
}

h2{
	text-align: center;
	font-size: 20px;
}
form.inscription{
	width: 240px;
	margin: auto;
}

.pseudotext{
	padding:6px 24px;
	font-family: 'Share Tech Mono', Arial ;
	font-size:20px;
}

 .submit-button  {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#f2f2f2;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family: 'Share Tech Mono', Arial ;
	font-size:18px;
	text-transform: uppercase;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.submit-button:hover {
	background-color:#c7c7c7;
}
.submit-button:active {
	position:relative;
	top:1px;
}

/*------TCHAT------*/

#conteneur-tchat{
	width: 960px;
	margin: auto;
	margin-top: 40px;
	padding: 20px;
	background: #FFFFFF;
	font-size: 18px;
	border: solid;
}

.tchatForm{
	width: 500px;
	margin: auto;
	margin-top:40px; 
	padding: 20px;
	background: #FFFFFF;
	font-size: 20px;

}

.message{
	-moz-box-shadow:inset 1px 1px 1px 1px #ffffff;
	-webkit-box-shadow:inset 1px 1px 1px 1px #ffffff;
	box-shadow:inset 1px 1px 1px 1px #ffffff;
	width: 480px;
	height: 50px;
	padding:6px 24px;
	font-family: 'Share Tech Mono', Arial ;
	font-size:18px;
}


form div{
	display: inline-block;
}






