{% include 'inc/header.twig' %}

<section class="base wrap add-snippet">
	<h2>Contact me</h2>
	<form method="POST">
		<input class="trs" type="email" name="email" placeholder="Adresse mail">
		<input class="trs" type="text" name="objet" placeholder="Objet du mail">
		<textarea name="content" id="" cols="30" rows="10"></textarea>
		<input class="trs" type="submit">
	</form>
</section>

{% include 'inc/footer.twig' %}