{{include('inc/header-light.twig')}}
{{include('inc/message.twig')}}
<section class="login">
	<h2>Connection</h2>
	<form class="form-signin" method="POST">
		<input class="trs" type="text" class="form-control" placeholder="Username" name="username">
		<input class="trs" type="password" class="form-control" placeholder="Password" name="password">
		<button class="trs" type="submit">Sign in</button>
	</form>
</section>

{{include('inc/footer.twig')}}