body{
	background: #eee;
	margin: 0 auto 0 auto;
	width:90%;
}

header{
	padding-top: 20px;
}

textarea{
  display: block;
  width: 75%;
}

.width-area{
  width:98%;
}

button{
	display: block;
}

.container{
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.form-signin {
  text-align:center;
  padding: 19px 29px 29px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
        border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
      -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
   

.message-container{
  overflow:auto;
  margin-top: 30px;
  margin-bottom: 30px;
  height:500px;
  max-width: 100%;
  background-color: #fff;
  border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
          border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
      -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);

}
 
.bold-login{
  font-weight: bold;
}

.line-message{
  margin: 8px 0px 15px 8px;
}

.hour{
  color:rgba(0,0,0,0.5);
  font-size: 10px;
}


.errors {
  border-radius: 30px;
  color:white;
  background: rgba(255,0,0,0.4);

}

.input-chat{
  width: 90%;
  margin-left: 25px;
}

.smiley{
    width: 90%;
    margin-left: 25px;
    margin-bottom: 10px;
}
