{{include('inc/header.twig')}}

{% block title %}
	Bonjour Bruno,
{% endblock %}

{% block description %}
	Le travaille a été réalisé par Jonathan Beltran et Richard Truong.
	Si L'ennuie se fait ressentir, voici une autruche qui fait du ski : 
{% endblock %}

<div class="col-lg-3"></div>
<iframe src="https://giphy.com/embed/49b7A1sm3bJ72" width="500" height="382" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

{{include('inc/footer.twig')}}