body{
    margin:0;
}

.container{
    position:relative;
    background:yellow;
}

.container .object {
    position:relative;
    left:0;
    top:0;
    width:200px;
    height:200px;
    background:orange;
    -webkit-animation:monanimation 3s ease 0s infinite alternate;
    -webkit-animation-play-state:paused;
}

.container:hover .object{
    -webkit-animation-play-state:running;
}

@-webkit-keyframes monanimation {
    0%   {left:0px;}
    50%  {left:800px;}
    70%  {left:250px;}
    100% {left:500px;}
}