.transform{
    width:200px;
    height:200px;
    margin:50px auto 50px auto;
    background:orange;
}
.rotate{
    -webkit-animation:animation-rotate 3s ease 0s infinite;
}
@-webkit-keyframes animation-rotate
{
    0%   {-webkit-transform:rotate(0deg);}
    50%  {-webkit-transform:rotate(70deg);}
    100% {-webkit-transform:rotate(0deg);}
}
.skew{
    -webkit-animation:animation-skew 3s ease 0s infinite;
}
@-webkit-keyframes animation-skew
{
    0%   {-webkit-transform:skewX(0deg);}
    50%  {-webkit-transform:skewX(20deg);}
    100% {-webkit-transform:skewX(0deg);}
}
.translate{
    -webkit-animation:animation-translate 3s ease 0s infinite;
}
@-webkit-keyframes animation-translate
{
    0%   {-webkit-transform:translate(0,0);}
    50%  {-webkit-transform:translate(200px,50px);}
    100% {-webkit-transform:translate(0,0);}
}
.scale{
    -webkit-animation:animation-scale 3s ease 0s infinite;
}
@-webkit-keyframes animation-scale
{
    0%   {-webkit-transform:scale(1)}
    50%  {-webkit-transform:scale(1.5)}
    100% {-webkit-transform:scale(1)}
}