body{
    margin:0;
}

.transition{
    position:relative;
    background:green;
}

.transition .object {
    position:relative;
    top:0;
    left:0;
    width:100px;
    height:100px;
    background:orange;
    transition:left 1s,width 3s;
}

.transition:hover .object {
    left:500px;
    width:300px;
    background:blue;
}