{% for snippet in snippets %}
	<div class="col-md-12">
		<h3>{{snippet.title}}</h3>
		<a href="{{url('category',{category:snippet.category_slug})}}">{{snippet.category_title}}</a>
		<div><pre><code>{{snippet.content}}</code></pre></div>
	</div>
{% endfor %}